@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 99%;
  /* background-color: #46ccccec; */
}
.main{
  margin: 4% auto;
  text-align: center;
  overflow-y: hidden;
  width: 100%;
}
.list{
  /* display: inline; */
  /* flex-direction: column; */
  /* width: 900px */
  width: 99%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.border{
  text-align: left;
  width: 90%;
  /* height: 93vh; */
  margin: 10px;
  height: 160px;
  font-size: 7vw;
  /* border: 1px solid #41abe0; */
  /* background-color: rgb(31, 84, 199); */
  /* color: #200F8C; */
  font-family: "Lato", sans-serif;
  /* margin: 8px 0; */
  padding: 50px;
  line-height: 55px;
  vertical-align: middle;
  box-shadow: 4px 5px 2px #6272a4;
  max-width: 99vw;
}
span{
  color: #ff79c6;
  margin-left: 12px;
}
/* ----------------------------------------------------- */
/* Corpo */
body
{
    background-color: #282a36;
}
/* Quadro */
.border
{color: #ffb86c;background-color: #44475a;}

