@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 99%;
  background-color: #41abe0;
}
.main{
  width: 100%;
}
h1{
  vertical-align: middle;
  width: 100%;
  font-size: 60pt;
  color: white;
  font-family: Lato;
  text-align: center;
  margin-bottom: 130px;
  border-bottom: 1px solid #fff;
}
.list{
  /* display: inline; */
  /* flex-direction: column; */
  /* width: 900px */
  width: 99%;
}
.border{
  display: flex;
  width: 90%;
  margin-left: 20px;
  max-height: 190px;
  font-size: 70px;
  /* border: 1px solid #41abe0; */
  text-align: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.911);
  color: white;
  font-family: "Lato", sans-serif;
  /* margin: 8px 0; */
  padding: 100px 0 100px 20px;
  line-height: 55px;
  vertical-align: middle;
  box-shadow: 4px 5px 2px rgba(255, 255, 255, 0.651);
  max-width: 1000px;
}
span{
  color: yellow;
  margin-left: 12px;
}